.App {
  text-align: center;
  height: 500px;
  width: 700px;
  margin: auto;
}

ul {
  list-style: none;
}

a { color: black; text-decoration: none;}


.list-title {
  width: 30%;
  margin: 0 auto;
  color: rgb(138,43,226);
  padding: 10px;
  text-align: center;
}

.list-content {
  width: 50%;
  margin: 20px auto;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

.list-li {
  margin: 10px auto;
  width: 40%;
  border-bottom: 1px solid ;
  padding: 20px;
}

.list-li:hover {
  border-bottom: 3px solid rgb(138,43,226);
}
.li-span {
  float: right;
  font-size: 20px;
  color: rgb(138,43,226);
}

.detail-content {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  width: 40%;
}